<div class="container">
    <h1>{{ isEdit ? 'Editar' : 'Nova' }} Postagem</h1>
    <form (ngSubmit)="savePost()">
      <div class="form-group">
        <label for="title">Título</label>
        <input
          type="text"
          id="title"
          class="form-control"
          name="title"
          required
          minlength="3"
        />
      </div>
      <div class="form-group">
        <label for="body">Corpo</label>
        <textarea
          id="body"
          class="form-control"
          name="body"
          required
          minlength="5"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="userId">UserID</label>
        <input
          type="number"
          id="userId"
          class="form-control"
          name="userId"
          required
        />
      </div>
      <button type="submit" class="btn btn-success">Salvar</button>
      <button type="button" routerLink="/" class="btn btn-secondary">
        Cancelar
      </button>
    </form>
  </div>
  